.display {
    grid-column: span 4;
    background-color: #0004;    
    align-items: center;
    padding: 20px;
    font-size: 2.2em;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    
}

.bola{
    height: 10px;
    width: 60px;
    margin-bottom: 60px;
    margin-right: 150px;
    position: absolute;     
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bola > div{
    height: 10px;
    width: 10px;
    border-radius: 50%;    
}

.bola div:nth-child(1){
    background-color: #ff0000;
}
.bola div:nth-child(2){
    background-color: #f3dc12f1;
}
.bola div:nth-child(3){
    background-color: #42cf1f;
}
